Button {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
}

Button:hover {
    -fx-background-color: lightgray;
}

#battleGroundGridPane {
    -fx-background-image: url("background.jpg");
    -fx-effect: innershadow(gaussian, #030303, 5, 0.125, 0, 0);
    -fx-background-size: cover, auto;
}

#log {
    -fx-effect: innershadow(gaussian, #030303, 5, 0.125, 0, 0);
    -fx-background-image: url("graphpaper.png");
    -fx-background-size: cover, auto;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}