Button {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
}

Button:hover {
    -fx-background-color: lightgray;
}

#battleGroundGridPane {
    -fx-background-image: url("background.jpg");
    -fx-effect: innershadow(gaussian, #030303, 5, 0.125, 0, 0);
    -fx-background-repeat: repeat repeat;
    -fx-background-size: 410 410;
}

#log {
    -fx-effect: innershadow(gaussian, #030303, 5, 0.125, 0, 0);
    -fx-background-image: url("graphpaper.jpg");
    -fx-background-repeat: repeat repeat;
    -fx-background-size: 200 163;
    -fx-text-fill: #303030;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}