GridPane {
    -fx-font-size: 20;
    -fx-text-alignment: center;
}

Button {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
}

TextField {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-style: solid;
}

Button:hover {
    -fx-background-color: lightgray;
}

#enter {
    -fx-background-color: green;
}

#enter:hover {
    -fx-background-color: lightgreen;
}

