GridPane {
    -fx-font-size: 20;
}

Button {
    -fx-background-color: darkorange;
    -fx-border-style: dotted;
    -fx-border-color: darkgray;
}

TextField {
    -fx-background-color: lightgray;
    -fx-border-color: darkgray;
    -fx-border-style: dotted;
}

Button:hover {
    -fx-background-color: orange;
}
